.hero-sec{
    background-image: url('/resource/mealDb');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}
.hero-cont{
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: black;
}
.hero-tit{
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}